.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-group {
    flex: 1;
  }
  
  .update-form label {
    display: block;
    font-weight: bold;
  }
  
  .update-form input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* .update-form button */
  #update{
    padding: 5px 10px;
    margin-inline-start: 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    /* margin-top: 10px; */
  }
  
  /* .update-form button */
  #update:hover{ 
    background-color: #218838;
  }
  
  .employee-table {
    width: 100%;
    border-collapse: collapse;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .employee-table th, .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .employee-table th {
    background-color: #f4f4f4;
  }
  
  .employee-table tr:hover {
    background-color: #f1f1f1;
  }

  
 
  #delete{
    padding: 5px 10px;
    margin-inline-start: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color:  #e0111c;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
   #delete:hover {
    background-color: #9c0a0a;
  }
  #deleteSelected{
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 0px;

    margin-inline-start: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color:  #e0111c;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
   #deleteSelected:hover {
    background-color: #9c0a0a;
  }

  #deleteAll{
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 0px;

    margin-inline-start: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color:  #e0111c;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    
  }
   #deleteAll:hover {
    background-color: #9c0a0a;
  }
  .employee-table button {
    padding: 5px 10px;
    margin-inline-start: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .employee-table button:hover {
    background-color: #0056b3;
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .upload-container-upload {
   
    text-align: right;
    max-width: 300px;
    margin-right: 10px;
    /* margin: 0 auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 10px;


  }
  
  .h2-upload {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group-upload {
    text-align: left;

    margin-bottom: 10px;
  }
  
  #fileLable{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #fileInput[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-upload {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-upload:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .button-upload:hover:not(:disabled) {
    background-color: #0056b3;
  }